@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  /* Colors */
  --green: hsl(163, 72%, 41%);
  --red: hsl(356, 69%, 56%);
  --facebook: hsl(195, 100%, 50%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);

  /* Base dark theme */
  --bgColor: hsl(230, 17%, 14%);
  --topBgPattern: hsl(232, 19%, 15%);
  --cardBg: hsl(228, 28%, 20%);
  --textColor: hsl(0, 0%, 100%);
  --textColor2: hsl(228, 34%, 66%);
  --themeToggleBg: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  --themeToggleDot: --bgColor;

  /* Text */
  --bodyFont: 'Inter', sans-serif;
}

.lightTheme {
  --bgColor: hsl(0, 0%, 100%);
  --topBgPattern: hsl(225, 100%, 98%);
  --cardBg: hsl(227, 47%, 96%);
  --textColor: hsl(230, 17%, 14%);
  --textColor2: hsl(228, 12%, 44%);
  --themeToggleBg: linear-gradient(
    to right,
    hsl(230, 22%, 74%),
    hsl(230, 22%, 74%)
  );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  background: var(--bgColor);
  font-family: var(--bodyFont);
  color: var(--textColor);
  max-width: 100%;
  line-height: 1.5;
}

.offColorText {
  color: var(--textColor2);
}

.header {
  padding: 1.5rem;
}

.header__totalFollowers {
  font-weight: bold;
}

hr {
  border: 0;
  height: 1px;
  background: var(--cardBg);
  margin: 0 1.5rem;
}

/* Theme toggle */
.themeSlider {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.themeSlider__p {
  font-weight: bold;
}

.themeSliderToggle__checkbox {
  display: none;
}

.themeSliderToggle__label {
  background-image: var(--themeToggleBg);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all ease-in-out 0.3s;
  width: 50px;
  height: 25px;
  border-radius: 50px;
}

.themeSliderToggle__label::after {
  background-color: var(--bgColor);
  border-radius: 50%;
  content: ' ';
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: all ease-in-out 0.3s;
  width: 21px;
  height: 21px;
}

.themeSliderToggle__checkbox:checked ~ label::after {
  transform: translateX(25px);
}

/* Follower Cards */
.followerCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  align-items: center;
  margin-bottom: 3rem;
}

.followerCard {
  width: 90%;
  background: var(--cardBg);
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.followerCard > * {
  margin-bottom: 1.5rem;
}

.followerCard__border {
  height: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.followerCard__border--facebook {
  background: var(--facebook);
}
.followerCard__border--twitter {
  background: var(--twitter);
}
.followerCard__border--instagram {
  background: var(--instagram);
}
.followerCard__border--youtube {
  background: var(--youtube);
}

.followerCard__username {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.followerCount__number {
  font-size: 4rem;
  line-height: 1;
}

.followerCount__p {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.followerCard__newCount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.8rem;
}

.followerCard__newCount--positive {
  color: var(--green);
}

.followerCard__newCount--negative {
  color: var(--red);
}

/* Overview - Today */
.todayOverview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  align-items: center;
}

.todayOverview__title {
  font-size: 1.75rem;
  justify-self: left;
  padding-left: 1.5rem;
  grid-column: 1 / -1;
}

.overviewCard {
  width: 90%;
  background: var(--cardBg);
  border-radius: 5px;
  padding: 1.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  grid-gap: 1.75rem;
}

.overviewCard__metric {
  font-weight: bold;
}

.overviewCard__icon {
  justify-self: end;
}

.overviewCard__count {
  font-size: 2.25rem;
  line-height: 2.25rem;
}

.overviewCard__percent {
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.overviewCard__percent--positive {
  color: var(--green);
}

.overviewCard__percent--negative {
  color: var(--red);
}

/* Attribution */
.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
